
        <ul class="c-actions">
            <li class="c-action">
                <span class="c-action__title">طلبات تحتاج المعالجة 10</span>
                <a href="" class="c-btn c-action__link">مشاهدة الطلبات</a>
            </li>
            <li class="c-action">
                <span class="c-action__title">رسائل تحتاج الإجابة 5</span>
                <a href="" class="c-btn c-action__link">مشاهدة الرسائل</a>
            </li>
            <li class="c-action">
                <span class="c-action__title">منتجات ضرورية علي وشك النفاذ</span>
                <a href="" class="c-btn c-action__link">مشاهدة المنتجات</a>
            </li>
        </ul>

        <ul class="c-actions c-actions--oneline">
            <li class="c-action">
                <span class="c-action__title">طلبات تحتاج المعالجة 10</span>
                <a href="" class="c-btn c-action__link">مشاهدة الطلبات</a>
            </li>
            <li class="c-action">
                <span class="c-action__title">رسائل تحتاج الإجابة 5</span>
                <a href="" class="c-btn c-action__link">مشاهدة الرسائل</a>
            </li>
            <li class="c-action">
                <span class="c-action__title">منتجات ضرورية علي وشك النفاذ</span>
                <a href="" class="c-btn c-action__link">مشاهدة المنتجات</a>
            </li>
        </ul>